<html>
  <head>
    <meta content="content" charset="utf-8" http-equiv="Content-Type" />
    <style type="text/css">
     body {
       font-size: 12px;
     }
     .titulo {
       margin-top: -15px;
       font-size: 20px;
     }
     .subtitulo {
       font-size: 16px;
     }
     .contenido {
       font-size: 12px;
     }
     .datoProyecto {
       background-color: #f1efef;
       padding: 2px 5px 2px 2px;
       font-weight: bold;
     }
     .guion-bajo {
       border-bottom: 1px solid gray;
     }
     .logo {
       margin-top: -10px;
       margin-left: -10px;
     }
     .nro-fase {
       background-color: #ccf5d4;
     }
     .titulo-fase {
       font-size: 14px;
       font-weight: bold;
     }
     .nombre-fase {
       font-size: 14px;
     }
    </style>
  </head>
  <body>
    <div class="logo" align="left">
      <img src="<%= logo %>" alt="Logo CEADL"
           height="78"
           width="152"
          
      />
    </div>
    <center>
      <h2 class="titulo">Proyecto <%= nombre %></h2>
    </center>
    <hr/>
    <table width="510">
      <tr>
        <td width="40"></td>
        <td width="120" class="contenido datoProyecto">
          Fecha Inicio:
        </td>
        <td width="100" class="contenido guion-bajo">
          <%= fecha_inicio.toLocaleDateString() %>
        </td>
        <td width="10"></td>
        <td width="70" class="contenido datoProyecto">
          Fecha Fin:
        </td>
        <td width="100" class="contenido guion-bajo">
          <%= fecha_fin.toLocaleDateString() %>
        </td>
        <td width="50"></td>
      </tr>
    </table>
    <br/>
    <table width="510">
      <tr>
        <td width="70"  class="contenido datoProyecto">
          Institución:
        </td>
        <td width="440" colspan="3" class="contenido guion-bajo">
          <%= Institucion.nombre %>
        </td>
      </tr>
      <tr>
        <td width="70" class="contenido datoProyecto">
          Financiador:
        </td>
        <td width="440" colspan="3" class="contenido guion-bajo">
          <%= Financiador.nombre %>
        </td>
      </tr>
      <tr>
        <td width="70" class="contenido datoProyecto">
          Descripción:
        </td>
        <td  width="440" colspan="3" class="contenido guion-bajo">
          <%= descripcion %>
        </td>
      </tr>
      <tr>
        <td width="70" class="contenido datoProyecto">
          Objetivo:
        </td>
        <td width="440" colspan="3" class="contenido guion-bajo">
          <%= objetivo %>
        </td>
      </tr>
      <tr>
        <td width="70" class="contenido datoProyecto">
          Población Hombres:
        </td>
        <td width="220" class="contenido guion-bajo">
          <%= poblacion_hombres %>
        </td>
        <td width="70" class="contenido datoProyecto">
          Población Mujeres:
        </td>
        <td width="220" class="contenido guion-bajo">
          <%= poblacion_mujeres %>
        </td>
      </tr>
    </table>
    <div class="subtitulo"> <h3>Fases</h3></div>

    <% var total = 0 %>
    <% for(var i=0; i<Fases.length; i++) { %>
      <table width="510">
        <tr>
          <td width="500" class="contenido nro-fase" colspan="4">
            <span class="titulo-fase">Fase <%= i + 1 %>:</span> &nbsp;&nbsp;<span class="nombre-fase"><%= Fases[i].nombre %></span>
          </td>
        </tr>
        <tr>
          <td width="80" class="contenido datoProyecto">Fecha Inicio:</td>
          <td width="170" class="contenido guion-bajo"><%= Fases[i].fecha_inicio.toLocaleDateString() %></td>
          <td width="80" class="contenido datoProyecto">Fecha Fin:</td>
          <td width="170" class="contenido guion-bajo"><%= Fases[i].fecha_fin.toLocaleDateString() %></td>
        </tr>
        <tr>
            <td width="80" class="contenido datoProyecto"> Descripción:</td>
            <td width="420" colspan="3" class="contenido guion-bajo">
              <%= Fases[i].descripcion %>
            </td>
        </tr>
        <tr>
            <td width="80" class="contenido datoProyecto">Estado:</td>
            <td width="170" class="contenido guion-bajo"><%= Fases[i].estado %></td>
            <td width="80" class="contenido datoProyecto">Gastos:</td>
            <td width="170" class="contenido guion-bajo"><%= Fases[i].gastos %> Bs. <% total = total + parseInt(Fases[i].gastos) %></td>
        </tr>
        <tr>
          <td width="80" class="contenido datoProyecto">Adjuntos</td>
          <td width="420" class="contenido guion-bajo" colspan="4">
          <% for(var j =0; j<Fases[i].Documentos.length; j++) { %>
            <a href="http://localhost:3000<%= Fases[i].Documentos[j].detalle %>" target="_blank"><%= Fases[i].Documentos[j].nombre %></a>
              <% } %>
            </td>              
        </tr>
      </table>
      <% } %>

      <table width="510">
        <tr>
          <td width="150" class="contenido nro-fase"><b>Total Inversión Proyecto</b></td>
          <td width="360" class="contenido guion-bajo"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= total %> Bs.</td>
        </tr>
      </table>
  </body>
</html>
