<html>
  <head>
    <meta content="content" charset="utf-8" http-equiv="Content-Type" />
    <style type="text/css">
     body {
       font-size: 12px;
     }
     .titulo {
       font-size: 20px;
     }
     .subtitulo {
       font-size: 16px;
     }
     .contenido {
       font-size: 12px;
     }
     .datoProyecto {
       background-color: #a6cdec;
       padding: 2px 5px 2px 2px;
       font-weight: bold;
     }
    </style>
  </head>
  <body>
    <center>
      <h2 class="titulo">Proyecto <%= nombre %></h2>
    </center>
    <hr/>
    <table>
      <tr>
        <td class="contenido datoProyecto" width="18%">
          Fecha Inicio:
        </td>
        <td class="contenido">
          <%= fecha_inicio.toLocaleDateString() %>
        </td>
        <td class="contenido datoProyecto" width="20%">
          Fecha Fin:
        </td>
        <td class="contenido">
          <%= fecha_fin.toLocaleDateString() %>
        </td>
      </tr>
      <tr>
        <td class="contenido datoProyecto">
          Institución:
        </td>
        <td class="contenido">
          <%= Institucion.nombre %>
        </td>
        <td class="contenido datoProyecto">
          Financiador:
        </td>
        <td class="contenido">
          <%= Financiador.nombre %>
        </td>
      </tr>
      <tr>
        <td class="contenido datoProyecto">
          Descripción:
        </td>
        <td class="contenido">
          <%= descripcion %>
        </td>
      </tr>
      <tr>
        <td class="contenido datoProyecto">
          Objetivo:
        </td>
        <td class="contenido">
          <%= objetivo %>
        </td>
      </tr>
      <tr>
        <td class="contenido datoProyecto">
          Población Hombres:
        </td>
        <td class="contenido">
          <%= poblacion_hombres %>
        </td>
        <td class="contenido datoProyecto">
          Población Mujeres:
        </td>
        <td class="contenido">
          <%= poblacion_mujeres %>
        </td>
      </tr>
    </table>
    <div class="subtitulo"> <h3>Fases</h3></div>

    <% var total = 0 %>
    <% for(var i=0; i<Fases.length; i++) { %>
      <table border="1">
        <tr>
          <td class="contenido" colspan="4" style="width:500px;">
            <h4>Fase <%= i + 1 %>: &nbsp;&nbsp;<%= Fases[i].nombre %></h4>
          </td>
        </tr>
        <tr>
            <td class="contenido datoProyecto">Fecha Inicio:</td>
            <td class="contenido"><%= Fases[i].fecha_inicio.toLocaleDateString() %></td>
            <td class="contenido datoProyecto">Fecha Fin:</td>
            <td class="contenido"><%= Fases[i].fecha_fin.toLocaleDateString() %></td>
        </tr>
        <tr>
            <td class="contenido datoProyecto"> Descripción:</td>
            <td class="contenido">
              <%= Fases[i].descripcion %>
            </td>
        </tr>
        <tr>
            <td class="contenido datoProyecto">Estado:</td>
            <td class="contenido"><%= Fases[i].estado %></td>
            <td class="contenido datoProyecto">Gastos:</td>
            <td class="contenido"><%= Fases[i].gastos %> Bs. <% total = total + parseInt(Fases[i].gastos) %></td>
        </tr>
        <tr>
          <td class="contenido datoProyecto">Adjuntos</td>
          <td class="contenido" colspan="4">
          <% for(var j =0; j<Fases[i].Documentos.length; j++) { %>
            <a href="http://localhost:3000<%= Fases[i].Documentos[j].detalle %>" target="_blank"><%= Fases[i].Documentos[j].nombre %></a>
              <% } %>
            </td>              
        </tr>
      </table>
      <% } %>
      
      <div class="subtitulo"><h3>Total Inversión Proyecto <%= total %> Bs.</h3></div>
  </body>
</html>
